body{
	font-size:16px;
	color:black;
	background-color:white;
	/*font-family: cursive;*/
	font-family: 'Arvo', serif;
	background-color:#EDC7B7;
	/*background-color: #65CCB8;*/
}
#header-nav{
	background-color:#EAE7DC;
	/*border-radius:0;*/
	border-bottom:5px white;

	/*box-shadow: 0 8px 6px -6px black;*/
}
.jumbotron{
	/*margin-top:20px;*/
	background-image: url("https://assets.newatlas.com/dims4/default/4b30825/2147483647/strip/true/crop/1200x630+0+23/resize/1200x630!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Focean-freashwater-aquifiers.jpg");
	background-size:cover;
	color:black;
}
p{
	text-align: justify;
}
.navbar-brand{
	margin-top:0px;
	height:70px;
	/*padding-top:5px;*/
	/*padding-left:0px;*/
}
header{
	background-color:#EAE7DC;
	margin-bottom: 0px;
}
header  .container-fluid {
	background-color:#EAE7DC;
	/*position:relative;*/
	/*margin:10px;*/
	/*margin-left:15px;*/
	/*padding-left: 10px;*/
	
}
#main-content > #chicken >  #section3 > #image-tab > #Causes {
	height:250px;
	width:450px;
	margin-left:250px;
}
#quotes-image{
	margin:0px;
	margin-bottom:10px;
	height:750px;
	width:100%;
	padding:0px;
}
#main-content > #chicken > #d1 > img {
	height:350px;
	width:500px;
	margin-left:300px;
}
.navbar-brand h1{
	font-size: 30px;
	color:#808080;
	font-style: bold;
	margin-top:0;
	margin-left:5px;
	align-content: center;
	font-family: 'Arvo', serif;
	/*font-family: 'Alternate Gothic';*/

	/*padding-left:0px;*/
	
}
#brand-image{
	/*height:50px;
	margin:10px;*/
	align-content:left;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  background-color:white;
}
#nav-list a:hover {
  background: #E7E7E7;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header {

  /*margin-top: 10px;*/
}
#menu-categories-title{
	font-family: 'playfair display';
	margin-top:0px;
}
#chicken , #beef, #sushi{
	background-color:white;
	size:20px;
	height:90%;
	padding:20px;
	text-align:justify;
	align-content: center;
	margin-left:150px;
	margin-right:150px;
	border-radius:20px;
	box-shadow: 0 8px 6px -6px black;
	/*background-color:#EDC7B7;*/
	/*margin-left:400px;*/
	border:5px;
	/*width:98.5%;*/
	/*margin:10px;
	margin-left:15px;
	margin-right:15px;*/
	margin-bottom:15px;
}
#main-content{
	align-content: center;

	/*margin:100px;*/
}
#chicken > #navigation-bar{
	margin-top:20px;
	padding-left:20px;
	background-color:#D2FDFF;
	border:1px solid black;
	border-radius:5px;
	/*background-color:#D3E3FC;*/
	/*align-content: right;*/
	/*text-align:right;*/
}
#chicken > #navigation-bar > ul > li > a{
	color:black;
	font-size:20px;
}
#chicken > #section4 > img{
	height:250px;
	width:450px;
	margin-left:250px;
}
#chicken > #section5 > img{
	height:250px;
	width:450px;
	margin-left:250px;
}
#chicken > #section6 > #final{
	height: 250px;
	margin-left:325px;
}
#chicken > #section6 > a{
	color:black;
}
#chicken > #navigation-bar > ul > li {
	margin-bottom:5px;
}
#chicken >h2 ,#beef >h2 ,#sushi >h2 {
	margin-left:35;
	margin-bottom:10px;
	text-align: left;
	align-content:center;
	font-size:40px;
	text-decoration: underline;
}
#main-content > #chicken > section > h2{
	text-decoration: underline;
}
#main-content > #chicken > #image-tab > img.center {
	align-content: center;
	height:250px;
	padding:10px;
	/*margin-left:auto;*/
	/*margin-right:auto;*/
	margin-left:250px;
}
#collapsable-nav a {
  	background-color:white;
  	color:black;
  	margin:0;
  	border:1px white; /* Collapsed nav menu text */
    font-size: 1.2em;
  }
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    /*padding-top: 10px;*/
    font-size: 5vw; /* 1vw = 1% of viewport width */
    text-align: center;
  }
  

}






/*#nav-list {
  margin-top: 10px;
}
#nav-list span:hover {
  background: #E7E7E7;
}
#nav-list span {
  	font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	color:blue;
  	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  margin-top: 10px;
}
*/
